.row.podcasts-list
  - @podcasts.each do |podcast|
    .podcast
      .card.center-block
        = link_to podcast do
          = image_tag "http://podcasts.howstuffworks.com/hsw/podcasts/sysk/sysk-audio-1600.jpg", class: "card-img"
        %span.subscribe-icon 
          - if current_user
            - if @user_podcasts.include? podcast.id
              %td= link_to raw('&times;'), { controller: "subscriptions", action: "destroy", id: podcast }, :method => :delete, class: "unsubscribe"
              %a.subscribed{ href: "#" } &#10003;
            - else
              %td= link_to raw('&#10133;'), { controller: "subscriptions", action: "create", id: podcast }, class: "subscribe"

        .card-img-overlay.podcast-overlay
          .podcast-info
            %h4.card-title
              = link_to podcast.title, podcast
            = link_to podcast do
              %p.card-text= podcast.description
