%p#notice= notice

%h1= @podcast.title
- if current_user
  - if @user_podcasts.include? @podcast.id
    %td= link_to 'Unsubscribe', { controller: "subscriptions", action: "destroy", id: @podcast }, :method => :delete
  - else
    %td= link_to 'Subscribe', { controller: "subscriptions", action: "create", id: @podcast }
\|
= link_to 'Back', podcasts_path

%p= @podcast.description

= form_tag podcast_path(@podcast), method: "get" do
  = label_tag :query, "Search episodes:"
  = search_field_tag :query
  = submit_tag "Search"

%ul
  -@episodes.each do |episode|
    %li
      = link_to(episode.title, episode)
      - if current_user
        - if @viewed_episodes.include? episode.id
          = link_to("Mark as new", { controller: "episodes", action: "viewed_status", id: episode, status: "new"}, :method => 'post')
        - else
          = link_to("Mark as viewed", { controller: "episodes", action: "viewed_status", id: episode, status: "viewed"}, :method => 'post')
