- content_for :page_title, "#{@podcast.title} - PonyPod"
.row.podcast
  .col-left
    .podcast-cover
      %img{ src: @podcast.image }
    - if current_user
      - if @user_podcasts.include? @podcast.id
        = link_to raw('&times;'), { controller: "subscriptions", action: "destroy", id: @podcast }, :method => :delete, class: "unsubscribe"
        %a.subscribed{ href: "#" } &#10003;
      - else
        = link_to raw('&#10133;'), { controller: "subscriptions", action: "create", id: @podcast }, class: "subscribe"

    %h4.podcast-title= @podcast.title
    %p.podcast-description= @podcast.description
    %p.controls-toggle
      %a{ "aria-controls": "sortControls", "aria-expanded": "false", "data-toggle": "collapse", href: "#sortControls" }
        Show and sort
    #sortControls.collapse
    /
      .listing-option
        %label
          %input{ checked: ("checked" if @segment != "all"), name: "show-radios", type: "radio", value: "unplayed-first",
            "data-href": podcast_url(@podcast, segment: "unplayed-first", sort: @sort)}
            show unplayed first
      .listing-option
        %label
          %input{ checked: ("checked" if @segment == "all"), name: "show-radios", type: "radio", value: "all",
            "data-href": podcast_url(@podcast, segment: "all", sort: @sort)}
            show all by date

      %hr
      .listing-option
        %label
          %input{ checked: ("checked" if @sort != 'old-first'), name: "sort-radios", type: "radio", value: "new-first",
            "data-href": podcast_url(@podcast, sort: "new-first", segment: @segment)}
            show new first
      .listing-option
        %label
          %input{ checked: ("checked" if @sort == 'old-first'), name: "sort-radios", type: "radio", value: "old-first",
            "data-href": podcast_url(@podcast, sort: "old-first", segment: @segment)}
            show old first

  .col-center
    - if @segment != "all"
      .divider
        New Episodes
        %hr
      - if @episodes[:new].length == 0
        No new episodes
      - else
        = render partial: "episodes", locals: { episodes: @episodes[:new] }

      .divider
        Played Episodes
        %hr
      - if @episodes[:old].length == 0
        No new episodes
      - else
        = render partial: "episodes", locals: { episodes: @episodes[:old] }

    - else
      = render partial: "episodes", locals: { episodes: @episodes }



  .col-right
    .listing-option
      %label
        %input{ checked: ("checked" if @segment != "all"), name: "show-radios", type: "radio", value: "unplayed-first",
          "data-href": podcast_url(@podcast, segment: "unplayed-first", sort: @sort)}
          show unplayed first
    .listing-option
      %label
        %input{ checked: ("checked" if @segment == "all"), name: "show-radios", type: "radio", value: "all",
          "data-href": podcast_url(@podcast, segment: "all", sort: @sort)}
          show all by date

    %hr
    .listing-option
      %label
        %input{ checked: ("checked" if @sort != 'old-first'), name: "sort-radios", type: "radio", value: "new-first",
          "data-href": podcast_url(@podcast, sort: "new-first", segment: @segment)}
          show new first
    .listing-option
      %label
        %input{ checked: ("checked" if @sort == 'old-first'), name: "sort-radios", type: "radio", value: "old-first",
          "data-href": podcast_url(@podcast, sort: "old-first", segment: @segment)}
          show old first

