%p#notice= notice

%h1= @podcast.title
= link_to 'Edit', edit_podcast_path(@podcast)
\|
= link_to 'Back', podcasts_path

%p= @podcast.description

= form_tag podcast_path(@podcast), method: "get" do
  = label_tag :query, "Search episodes:"
  = search_field_tag :query
  = submit_tag "Search"

%ul
  -@episodes.each do |episode|
    %li= link_to episode.title, episode