- content_for :page_title, "#{@podcast.title} - PonyPod"
.row.podcast
  .col-left
    .podcast-cover
      %img{ src: @podcast.image }
    - if current_user
      - if @user_podcasts.include? @podcast.id
        = link_to raw('&times;'), { controller: "subscriptions", action: "destroy", id: @podcast }, :method => :delete, class: "unsubscribe"
        %a.subscribed{ href: "#" } &#10003;
      - else
        = link_to raw('&#10133;'), { controller: "subscriptions", action: "create", id: @podcast }, class: "subscribe"

    %h4= @podcast.title
    %p.podcast-description= @podcast.description
    %p.controls-toggle
      %a{ "aria-controls": "sortControls", "aria-expanded": "false", "data-toggle": "collapse", href: "#sortControls" }
        Show and sort
    #sortControls.collapse
      .listing-option
        %label
          %input{ checked: "", name: "show-radios", type: "radio", value: "unplayed-first"}
            show unplayed first
      .listing-option
        %label
          %input{ name: "show-radios", type: "radio", value: "all"}
            show all by date

      %hr
      .listing-option
        %label
          %input{ checked: "", name: "sort-radios", type: "radio", value: "unplayed-first"}
            show new first
      .listing-option
        %label
          %input{ name: "sort-radios", type: "radio", value: "all"}
            show old first

  .col-center
    .divider
      New Episodes
      %hr
    -@episodes.each do |episode|
      .media.episode
        .media-left
          = link_to episode do
            %img{ src: asset_path("play-button.jpg") }
        .media-body
          %h5.media-heading
            =link_to episode.title, episode
          .media-text
            = episode.summary
          .date-inline
            = episode.published_at
        .media-right
          = episode.published_at

    .divider
      Played Episodes
      %hr
    -@episodes.each do |episode|
      .media.episode
        .media-left
          = link_to episode do
            %img{ src: asset_path("play-button.jpg") }
        .media-body
          %h5.media-heading
            =link_to episode.title, episode
          .media-text
            = episode.summary
          .date-inline
            = episode.published_at
        .media-right
          = episode.published_at


  .col-right
    .listing-option
      %label
        %input{ checked: "", name: "show-radios", type: "radio", value: "unplayed-first"}
          show unplayed first
    .listing-option
      %label
        %input{ name: "show-radios", type: "radio", value: "all"}
          show all by date

    %hr
    .listing-option
      %label
        %input{ checked: "", name: "sort-radios", type: "radio", value: "unplayed-first"}
          show new first
    .listing-option
      %label
        %input{ name: "sort-radios", type: "radio", value: "all"}
          show old first


