!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"   }
    -# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "author", :content => "" }

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    %link{ :rel => "icon", :href => "/assets/images/favicon.ico" }
    %title Ponypod - test
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{ :src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" }
      %script{ :src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" }
  %body
    - flash.each do |key, value|
      %div.alert= value
    %div#login
      - if current_user
        Hi, #{current_user.name} #{link_to "Logout", "/logout"}
      - else
        = link_to "Login with google","/auth/google" 

    = yield
