!!! 5
%html{ lang: "en"}
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"   }
    %meta{ "http-equiv": "x-ua-compatible", content: "ie=edge" }
    -# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    -# - flash.each do |key, value|
    -#   %div.alert= value
    -# %div#login
    -#   - if current_user
    -#     Hi, #{current_user.name} #{link_to "Logout", "/logout"}
    -#   - else
    -#     = link_to "Login with google","/auth/google" 

    .alert.alert-danger.alert-dismissible.fade.in{:role => "alert"}
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
      You need to login to subscribe to podcasts

    %nav.navbar.navbar-light.navbar-fixed-top
      %a.navbar-brand{ href: "#" } Pony Pod
      %button.navbar-toggler.hidden-lg-up.pull-xs-right{"data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
        ☰
      #exCollapsingNavbar2.collapse.navbar-toggleable-md
        %ul.nav.navbar-nav
          %li.nav-item.active
            %a.nav-link{ href: "#" }
              All Podcasts
              %span.sr-only
                (current)
          %li.nav-item
            %a.nav-link{ href: "#" } My Subscriptions
        %ul.nav.navbar-nav.pull-xsright
          %li.nav-item.pull-xs-left
            %form.form-inline.search-form
              .input-group
                %input#search.form-control{ type: "search", placeholder: "Search" }
                %span.input-group-btn
                  %button.btn.btn-default{ type: "button" } Search
          %li.nav-item.pull-xs-right
            %a.google-login{ href: "#" }
              %img{ src: asset_path("btn_google_signin_light_normal_web.png") }

    .container-fluid.cont
      .row  
        = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true

